<%= stylesheet_link_tag 'frame', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'menu', media: 'all', 'data-turbolinks-track' => true %>
<body>

  <div class="container">
    <!--ヘッダーに関する記述---------------------------------------------------------->
        <%= render 'layouts/header' %>
    <!--ヘッダーに関する記述ここまで---------------------------------------------------->

    <main class="content">
      <section class="contents">
        <article class="grid">
          <p><h3 class="heading">材料</h3></p>
          <% @food.each do |key,value| %>
            <div style="padding:10px 0px 10px 10px ; display:box; display:-moz-box; display:-webkit-box;">
            <i class="fa fa-lemon-o" aria-hidden="true" style="padding:0px 5px 10px 10px;font-style:bold"></i>
            <%= Food.find(value[0]).fname %>
            <% value = value[1].to_i %>
            <%= value = value * session[:people] %>
            <%= "グラム" %>
          </div>
          <% end %>

        </article>

        <article class="grid">
          <p><h3 class="heading">作り方</h3></p>
          <% @recipe.each do |key,value| %>
            <i class="fa fa-lemon-o" aria-hidden="true" style="padding:0px 5px 10px 10px;font-style:bold"></i><%= key.gsub(/step/, "手順") %>
            <p><%= value %></p><br>
          <% end %>

        </article>

      </section>
    </main>

<!--フッターに関する記述----------------------------------------------------------->
  <%= render 'layouts/footer' %>
<!--フッターここまで--------------------------------------------------------------->

</div><!--/.container-->
<!--javascriptのファイルの読み込み等-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
