<div class="row">
<h1>アレルギー設定</h1>
  <p>該当するすべてのアレルギー食品にチェックを入れ、確定ボタンを押してください</p>
  <%= form_tag 'allergies/allergiesinput' do %>
    <% if @user.alvalue != nil %>
      <% checked = @user.alvalue.split(",") %>
    <% end %>
    <% @all.each do |all| %>
      <br>
      <% if @user.alvalue != nil %>
        <% checkval = checked.include?(all.id.to_s) ? true : false %>
      <% else %>
        <% checkval = false %>
      <% end %>
      <%= check_box_tag 'alle[]', all.id, checkval, {} %>
      <%= all.aname %>
    <% end %>
      <br>
  <%= submit_tag "確定" %>
  <% end %>
</div>
