<div class="row">
  <% if @allstr.nil? %>
    <h1>アレルギー登録なし</h1>
  <% else %>
    <h1>アレルギー登録完了しました</h1>
    <b>登録したアレルギー</b>
    <br>
    <% allname = @allstr.split(",") %>
    <% allname.each do |name| %>
      <% list = Allergy.find(name) %>
      <%= list.aname %><br>
    <% end %>
  <% end %>
  <br>
  <%= link_to 'アレルギー再設定', :back %><br>
  <%= link_to 'マイページ', user_page_path %>
</div>
