<div class="row">
  <h1>退会</h1>
  <p>パスワードを入力してください</p>
  <%= form_for @user, :url => drawalconfirm_path, html: {method: "post"} do |f| %>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.submit "退会", class: "btn btn-primary" %>
  <% end %>
</div>
