<div class="row">
  <h1>退会</h1>
  <p>楽Laクックを本当に退会しますか？</P>
    <%= link_to (button_tag "退会する"),
        user_page_path(current_user), :method => :delete %>

  <p><%= link_to 'マイページに戻る', user_page_path(current_user) %></p>
</div>
