<div class="row">
  <h1>設定</h1>
    <p><%= link_to 'アレルギー', 'allergies' %></p>
    <p><%= link_to 'お気に入りの削除', 'favdeleteselect' %></p>
    <p><%= link_to 'パスワード再設定', new_password_reset_path %></p>
    <p><%= link_to 'ユーザー名変更', 'namechange' %></p>
    <p><%= link_to 'メールアドレス変更', 'newemailinput' %></p>
    <p><%= link_to '退会', drawalinput_path %></p>
</dev>
