<div class="row">
  <h1>変更内容確認</h1>
  <p>以下の内容でよろしければ変更ボタンを押してください</p>
  <%= form_for @user, :url => user_page_path, html: {method: "patch"} do |f| %>
    <%= f.label :email, "新しいメールアドレス" %>
    <%= f.email_field :email, class: 'form-control', :readonly => true %>
    <%= f.submit "変更", class: "btn btn-primary" %>
  <% end %>
</div>
