<div class="row">
  <% if @user.dishes.count != 0 %>
    <h1>お気に入りの削除</h1>
    <p>削除したいレシピをチェックして削除ボタンをクリックすることでお気に入りから削除されます</p>
    <%= form_tag 'favdeleteselect/favdelete' do %>
      <% @user.dishes.each do |userfav| %>
        <%= check_box_tag 'fav[]', userfav.id, false, {} %>
        <%= userfav.dishname %><br>
        <% end %>
      <%= submit_tag "削除" %>
      <% end %>
  <% else %>
    <h1>お気に入りレシピはありません</h1>
  <% end %>
</div>
