<div class="row">
  <h1>ユーザー名変更</h1>
  <p>新しいユーザー名を入力してください</p>
  <%= form_for @user, :url => user_page_path, html: {method: "patch"} do |f| %>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.submit "変更", class: "btn btn-primary" %>
  <% end %>
</div>
