<div class="row">
  <h1>メールアドレス変更</h1>
  <p>新しいメールアドレスを入力してください</p>
  <%= form_for @user, :url => {:action => 'sentnewmail'}, html: {method: "post"} do |f| %>
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.submit "確認", class: "btn btn-primary" %>
  <% end %>

</div>
