<div class="row">
  <h1> <%= @user.name %> </h1>
  <% if @user.dishes.count != 0 %>
    <b>お気に入りレシピ</b><br>
    <% @user.dishes.each do |favdish| %>
      <% r_link = 'http://www.rakulacook.com/recipe/' + favdish.id.to_s %>
      <%= link_to favdish.dishname, r_link %>
      <br>
    <% end %>
  <% else %>
      <p>お気に入りレシピはありません</p>
  <% end %>
  <% if @user.alvalue.nil? %>
    <p>アレルギーはありません</p>
  <% else %>
    <br>
    <b>アレルギー</b>
    <br>
    <% alv = @user.alvalue.split(",") %>
    <% alv.each do |alv| %>
      <% an = Allergy.find(alv) %>
      <%= an.aname %>
      <br>
    <% end %>
  <% end %>
  <p><%= link_to '設定', edit_user_page_path%></p>
  <%= render 'layouts/footer' %>
</div>
