<!DOCTYPE html>

<html lang="ja">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!--モバイル端末で閲覧するための設定-->
      <meta name="author" content="ヒロコンの愉快な仲間たち" />  <!--サイトの著者-->
      <meta name="keyword" content="献立,レシピ,ご飯" />        <!--サイトの検索キーワード-->
      <meta name="description" content="広島コンピュータ専門学校の" />    <!--サイトの説明文-->
      <% provide(:title, "献立提案結果") %>         <!--サイトのタイトル、ページに合わせて適宜変更-->

      <!--ここからCSSファイルの読み込み--------------------------------------------->
      <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => true %>
      <%= stylesheet_link_tag    'top-style', media: 'all', "data-turbolinks-track" => true %>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
      <%= csrf_meta_tags %>
      <!--CSSファイルの読み込みここまで--------------------------------------------->

      <!--ショートカットに表示する画像の設定(ファビコン)-------------------------------->
      <link rel="apple-touch-icon" sizes="180x180" href="">
      <link rel="icon" type="image/png" href="" sizes="32x32">
      <link rel="icon" type="image/png" href="" sizes="16x16">
      <!--ショートカットの画像の設定ここまで------------------------------------------>

  </head>

<main class="contents">

        <div class="contents__inner akineta-result">

          <!--献立の提案結果に関する記述------------------------------------------>
          <%=@alsql%>
          <section>
            <h2>献立を提案した結果・・・</h2>
            <p><span>ここに提案する料理名が入ります。</span>がオススメです！</p>
            <p><%= image_tag '/img/top/popular/sample.jpg', :alt => '料理の写真' %></p><!--ここに提案結果の料理の写真が入ります。-->
            <p><%= image_tag '/img/akineta/charcter.png', :alt => 'フライパンとフライ返しを持ったネズミのイラスト' %></p>
          </section>
          <!--献立の提案結果に関する記述ここまで------------------------------------>

          <!-- テスト用 -->
          <%= @recipe%>

          <p><%= link_to "このレシピを見る！", '#' %></p>
          <p><%= link_to "提案をもう一度受ける！", question_path %></p>


        </div><!--/.contents__inner-->


      </main>


<%= render 'layouts/footer' %>
</html>
