
<%= stylesheet_link_tag    'jquery.bxslider', media: 'all', "data-turbolinks-track" => true %>
<%= stylesheet_link_tag 'akineta-style', media: 'all', 'data-turbolinks-track' => true %>

  <body>

    <div class="container">

      <!--ヘッダーに関する記述---------------------------------------------------------->
          <%= render 'layouts/header' %>
      <!--ヘッダーに関する記述ここまで---------------------------------------------------->

      <!--メインコンテンツに関する記述----------------------------------------------------->
      <main class="contents">

        <div class="contents__inner akineta">

          <!--ここから記述開始-->
          <%= form_tag('/menu/question_result') do %>
          <!--献立の提案に関する記述------------------------------------------>
          <% if logged_in?%>
          <section>
            <h2><i class="fa fa-file-text-o"></i>クッキンマウス君のレシピ提案</h2>
            <p>質問に答えた内容に合わせて献立を提案いたします。</p>
            <div class="bxslider">

          <% else %>
          <section>
            <h2><i class="fa fa-file-text-o"></i>クッキンマウス君のレシピ提案</h2>
            <p>質問に答えた内容に合わせて献立を提案いたします。</p>
            <div class="bxslider">
              <div class="slide_box">
              <p>質問：アレルギーがあるものを選択してください</p>

              <div class="question allergies">
              <% @all.each.with_index(1) do |set,| %>
              <% if (set.id % 9)  == 0 then %>
                  <br>
                  <% end %>
                <p><%= check_box_tag('allergy[]',set.id,(set == params[:allergy])) %>
                  <% if set.id == 7 %>
                  <%= label_tag 'allergy', 'ピーナッツ'%></p>
                  <% else %>
                <%= label_tag 'allergy',set.aname %></p>
                <% end %>
                <% end %>
              </div><!--/.question-->
            </div><!--/.slide_box-->
            <% end %>
              <!--人数指定------------------------------------------------------>
              <div class="slide_box">
              <p>質問：何人分の料理を作りますか？（最大10人まで）</p>
              <div class="question">
                <p class="question-text"><label for="ninnzuu">人数を選択してください</label>
              <%=select :person, :number, person_choices%>
            </p>

              <!--人数指定ここまで---------------------------------------------->
             </div><!--/.question-->
            </div><!--/.slide_box-->

            <div class="slide_box">
              <p>質問：料理のジャンルは？</p>
              <div class="question">

              <p class="question-text"><label for="zyannru">料理のジャンルを選択してください</label>
              <!--選択肢の記述-------------------------------------------------->
              <%= select_tag "genre", options_from_collection_for_select(@s_genre.all,:id,:jname) %>
            </p>
              <!--選択肢の記述ここまで-------------------------------------------->
            </div><!--/.question-->
          </div><!--/.slide_box-->




            <div class="slide_box">
              <p>質問 : 使いたい食材・食べたい食材を１つ記入してください
              <div class="question">
              <!--選択肢の記述-------------------------------------------------->
              <%= text_area :page, :syokuzai, :size =>"50x1", :placeholder => "しいたけ" %></p>
              <!--選択肢の記述ここまで-------------------------------------------->
            </div>
          </div>

          <div class="slide_box">
              <p>質問：調理時間は余裕がありますか？</p>
              <div class="question">

            <!--選択肢の記述-------------------------------------------------->
            <p class="question-text"><label for="time">調理時間は余裕が</label>
              <%=select :time, :time, time_choices%>
          </p>
            <!--選択肢の記述ここまで-------------------------------------------->
          </div><!--/.question-->
        </div><!--/.slide_box-->

            <div class="slide_box">
              <p>質問：副菜の数は？(0品から5品まで)</p>
              <div class="question">
              <!--選択肢の記述-------------------------------------------------->
              <p class="question-text"><label for="side-dish">副菜の数を選択してください(0品から5品まで)</label>
              <%=select :side, :number, side_choices%>
              </p>
              <!--選択肢の記述ここまで-------------------------------------------->
              </div><!--/.question-->
              <%= submit_tag "提案結果を見る！", name: "question_result", :class => "submit" %>
              <% end %>
            </div><!--/.slide_box-->

          </div><!--/.bxslider-->

            <!--質問内容を増やす場合は上のdivコンテンツをコピーしラジオボタンの内容を適宜変更
              質問はスライドしながら答えてもらうので増えても問題なし-->
              <p><%= image_tag '/img/akineta/charcter.png', :alt => 'フライパンとフライ返しを持ったネズミのイラスト', :class => "charcter" %></p>
            </section>
          <!--献立の提案に関する記述ここまで------------------------------------>




        </div><!--/.contents__inner-->
      </main>
<!--メインコンテンツに関する記述ここまで---------------------------------------------->


  <%= render 'layouts/footer' %>
    </div><!--/.container-->

    <script type="text/javascript">
          $(function() {
            $('.bxslider').bxSlider({
              pager: true,
              controls: true,
              infiniteLoop: false,
              nextText: '次の質問に進む',
              prevText: '前の質問に戻る',
              hideControlOnEnd: true,
              mode: 'fade',
            });
          });
        </script>

  </body>

</html>
