<!--フッターに関する記述----------------------------------------------------------->
<footer class="footer">
        <section>
        <h1><%=link_to root_path do%><%= image_tag '/img/allpage/logo.png', :alt => '楽Laクック' %><% end %></h1>


        <!--アドレス------------------------------------------------------------->
        <address>
          <dl>
            <dt>所在地:</dt>
            <dd>〒733-0013　広島県広島市西区横川新町7-12</dd>
            <dt>電話:</dt>
            <dd><%= link_to '082-291-5050',"tel:0822915050" %></dd>
            <dt>メール</dt>
            <dd><%= link_to 'メールはこちらへ',"mailto:inoue@hsc.ac.jp" %></dd>
          </dl>
        </address>
        <!--アドレスここまで------------------------------------------------------->

        <!--サイトマップ---------------------------------------------------------->
        <ul class="sitemap">
          <li><%= link_to root_path do %><i class="fa fa-chevron-circle-right" aria-hidden="true" ></i>トップ<% end %></li>
          <li><%= link_to "#" do %><i class="fa fa-chevron-circle-right" aria-hidden="true" ></i>献立を探す<% end %></li>
          <li><%= link_to "question" do %><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>献立提案<% end %></li>
          <% if logged_in? %>
            <li><%= link_to user_page_path(current_user)  do %><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>マイページ<% end %></li>
            <li><%= link_to logout_path, method: "delete" do %><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>ログアウト<% end %></li>
          <% else %>
            <li><%= link_to login_path do %><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>ログイン<% end %></li>
            <li><%= link_to signup_path do %><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>会員登録<% end %></li>
          <% end %>
          <li><%= link_to "#" do %><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>お問い合わせ<% end %></li>
        </ul>
        <!--サイトマップここまで---------------------------------------------------->

        <p><small>&copy; 2016 楽Laクック | <%= link_to 'Created by Hiroshima Computer College',"http://www.hsc.ac.jp/index.html" %></small></p>
        </section>
</footer>


      <!--フッターここまで--------------------------------------------------------------->
