
<header class="header">
  <h1><%=link_to root_path do%><%= image_tag '/img/allpage/logo.png', :alt => '楽Laクック' %><% end %></h1>

  <!--グローバルナビゲーションに関する記述------------------------------------->

  <nav class="gnav sm_hidden">
    <ul>
      <li><%= link_to root_path do %><i class="fa fa-home" title=トップ></i><% end %></li>
      <li><%= link_to "#" do %><i class="fa fa-search" title=献立を探す></i><% end %></li>
      <li><%= link_to "question"  do %><i class="fa fa-file-text-o" title=献立提案></i><% end %></li>
      <li><%= link_to "#" do %><i class="fa fa-line-chart" title=人気の献立></i><% end %></li>
      <li><%= link_to "#" do %><i class="fa fa-envelope" title=お問い合わせ></i><% end %></li>
    </ul>
  </nav>

  <!--グローバルナビゲーションに関する記述ここまで------------------------------->

  <!--ログインボタンや新規登録----------------------------------------------->
  <div class="login">
    <ul>
      <% if logged_in? %>
        <li><%= link_to "マイページ", user_page_path(current_user) %></li>
        <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "ログイン", login_path %></li>
        <li><%= link_to "会員登録", signup_path %></li>
      <% end %>
  </ul>
  </div><!--/.login smhidden-->
  <!--ログインボタンや新規登録ここまで----------------------------------------->

</header>
  <!--<button class="sm_button"><i class="fa fa-bars"></i></button>-->
  <!--スマートフォンの時に表示される横から出スライドしてくるサイドメニューの設定--------------------------------------------------->
